<%- include('header') -%>
<div class="title"><%= title %></div>
<div class="center-page">
    <h3 class="cont-page">
        <%= content %>
    </h3>
</div>
<%- include('footer') -%>
<script src="header-action.js"></script>