<!DOCTYPE html>
<html lang="en">
<head>
    <title>BLOG WEBSITE</title>
    <link rel="stylesheet" href="/header-styles.css">
    <link rel="stylesheet" href="/footer-styles.css">
    <link rel="stylesheet" href="/home-styles.css">
    <link rel="stylesheet" href="/blog-styles.css">
    <link rel="stylesheet" href="/publish-styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            Ruchik Bakhai
        </div>
        <div class="navbar-items">
                <span class="nav-button b-home">Home</span>
                <span class="nav-button b-about">About</span>
                <span class="nav-button b-publish">publish</span>
        </div>
    </div>