body{
    background-color: white;
    text-align: center;
}
.title{
    background-color: black;
    color: white;
    font-size: 6rem;
    text-align: center;
    padding-bottom: 3%;
    font-weight: 1000;
    font-family: 'Ubuntu Mono', monospace;
}

h1{
    font-size: 2rem;
}
h3{
    padding: 1% 2%;
    text-align: left;
}
.rm{
    padding-left: 2%;
    color: red;
}
.rm:hover{
    color: brown;
}
.center-page{
    min-height: 550px;
}
.blog-heads{
    padding: 0 5%;
}